div(class="jumbotron")
    h1(style="color:blue;")= "Ingrese un producto"
    br
    form(action="/productos" method="post") 
        div(class="form-group")
            label(for="producto") 
                b Producto
            input(id="nombre" class="form-control" type="text" name="nombre")
        div(class="form-group")
            label(for="precio") 
                b Precio
            input(id="precio" class="form-control" type="number" name="precio")
        div(class="form-group")
            label(for="foto") 
                b URL Foto
            input(id="foto" class="form-control" type="text" name="foto")
        button(class="btn btn-success mt-3" ) Enviar