<!-- Tabla -->
<div>
  <h2 style="color:crimson;">Historial</h2>
{{#if DB_PRODUCTOS}}

    <div class="table-responsive">
        <table class="table table-dark">
        <tr style="color: yellow;">
            <th>Nombre</th>
            <th>Precio</th>
            <th>Foto</th>
        </tr>
        {{#each DB_PRODUCTOS}}
        <tr>
            <td>{{this.nombre}}</td>
            <td>{{this.precio}}</td>
            <td><img width="50" height="50" src={{this.foto}} alt="foto"></td>
        </tr>
        {{/each}}
        </table>
    </div>
{{else}}
 <h3 class="alert alert-warning">"No se encontraron productos"</h3>
{{/if}}
</div>